* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(226, 226, 226);
    line-height: 1.5;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

header, footer {
    width: 100%;
    margin: 0;
    background-color: rgb(128, 128, 128);
    padding: 20px;
    text-decoration: none;
}

.author-name {
    font-size: 70px;
    color: white;
    display: inline;
}

.header-links {
    margin-top: 30px;
    display: inline;
    flex-wrap: wrap;
    float: right;
    
}

nav a {
    text-decoration: none;
    font-size: 40px;
    height: 30px;
    margin: 10px;
    transition: 1s;
    color: white;
}

nav a:hover {
    text-decoration: none;
    padding: 5px 10px;
    color: rgb(66, 3, 3);
    margin-right: 10px;
    background-image: linear-gradient(200deg, red 10%, black 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.1s ease-in;
    font-size: 15px;
    text-shadow: 0px 0px 15px black;
}

.my-img {
    display: inline;
    height: 280px;
    width: 250px;
    transform:skew(-15deg,0deg);
    border-radius: 50px 50px;
    margin: 20px 30px;
}


.author-banner {
    background-image: url(./assets/rzpARyn.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;  
    width: 100%;
    padding: 20px 20px;
}

.occupation {
    float: right;
    position: relative;
    display: inline;
    margin-top: 200px;
    color: white;
    font-size: 60px;
}

.page-section {
    margin: 25px 0;
    margin-right: 10px;
    padding: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.page-section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid black;
    line-height: 1.1;
}

.page-section > div {
    flex: 0 0 75%;
    text-align: justify;
}

.page-section p {
    margin-bottom: 20px;
    color: black;
    text-align: justify;
}

.project-list {
    margin-left: 20px;
    list-style:circle;
    line-height: 2;
}

.project-explination {
    margin-left: 60px;
    line-height: 1.5;
    list-style: square;
    font-size: 75%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 20px;
}

.grid-item {
    border: 5px solid black;
    grid-column: 1 / 2;
    color: black;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    padding: 0 0 10px 0;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 150%;
    transition: all 0.5s;
    font-size: 0.8rem;
}

#project1 {
    background-image: url(./assets/Screenshot_20230106_075141.png);
    object-fit: cover;
    background-repeat: no-repeat;
}

#weatherDashboard {
    background-image: url(./assets/Screenshot_20230106_075740.png);
    object-fit: cover;
    background-repeat: no-repeat;
}

figcaption {
    padding: 2px;
    background-color: lightgray;
    font-style: italic;
    font-size: 12px;
    margin-left: 5px;
}

div figure a:hover {
    background-color: rgb(141, 141, 141);
}

div figure a span {
    font-size: 8px;
}

div address a {
    
    margin-left: 5px;
    color: black;
    text-decoration: none;
}

div address a:hover {
    text-shadow: 0px 0px 15px black;
}

footer {
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 20px;
}

@media screen and (min-width: 480px) {
    body {
      background-color: white;
    }
  }
  
  @media screen and (min-width: 768px) {
    body {
      background-color: rgb(42, 193, 253);
    }
    header {
        font-size: smaller;
    }
  }
  
  @media screen and (min-width: 1024px) {
    body {    
      background-color: lightgrey;
    }
    div {
        font-size: larger;
    }
  }
  