/* body {
    background-color: black;
}
h1 {
    color: red;
    text-align: center;
    margin-top: 20rem;
    font-size: 20rem;
} */

header {
    width: 100%;
    text-align: center;
    border-bottom: 0.2rem solid black;
    padding: 1rem;
}

#bio {
    text-align: center;
}